@tailwind base;
@tailwind components;
@tailwind utilities;
.animated {
  transition: all 500ms ease-in-out;
  transform: translateX(0);
}

.animated.fade-left-enter,
.animated.fade-left-exit-active {
  transform: translateX(0);
  opacity: 1;
}

.animated.fade-left-enter-active,
.animated.fade-left-exit {
  transform: translateX(-100%);
  opacity: 0;
}

.animated.fade-right-enter,
.animated.fade-right-exit-active {
  transform: translateX(0);
  opacity: 1;
}

.animated.fade-right-enter-active,
.animated.fade-right-exit {
  transform: translateX(100%);
  opacity: 0;
}
/* mobile nav */
.modal-animate-enter {
  animation: enter-from-right 500ms ease-in-out;
}
.modal-animate-leave {
  animation: close-to-right 500ms ease-in-out;
}
@keyframes enter-from-right {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes close-to-right {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

/* .animated {
  @apply transition-all  duration-500 ease-in-out transform -translate-x-0;

  &.fade-left-enter,
  &.fade-left-exit-active {
    @apply translate-x-0 opacity-100;
  }

  &.fade-left-enter-active,
  &.fade-left-exit {
    @apply -translate-x-full opacity-0;
  }

  right
  &.fade-right-enter,
  &.fade-right-exit-active {
    @apply translate-x-0 opacity-100;
  }

  &.fade-right-enter-active,
  &.fade-right-exit {
    @apply translate-x-full opacity-0;
  }
} */
